{% extends "forms/generic_page.jinja2" %}

{% block page_title %}
    {{ page.title }}
{% endblock %}

{% block page %}
    {% if page.intro.strip() != "" %}
        {{ basic_factory.get_lead_text(page.intro) }}
    {% endif %}

    {{ basic_factory.get_text(page.content) }}
{% endblock %}