{% extends "forms/generic_page.jinja2" %}

{% block page_title %}
    {{ element_factory.page_title(page.title) }}
{% endblock %}

{% block page_content %}
    {% if page.intro.strip() != "" %}
        <p class="lead">{{ page.intro }}</p>
    {% endif %}

    <p>{{ page.content }}</p>
{% endblock %}