{#####
#
#   Version:    1.0.0
#   Date:       2022-08-01
#   Author:     Yves Vindevogel
#
#####}

{% if sidebar %}
    {% set ig_sidebar = {
        "title": interest_group.name,
        "menu_items": sidebar
    } %}

    {{ sidebar_factory.get_sidebar(ig_sidebar) }}
{% endif %}