{% from "interests/settings.jinja2" import sf_interests %}

{% if sidebar %}
    <div class="{{ sf_interests.layout.sidebar.wrapper }}" id="sidebar-wrapper">
        <div class="{{ sf_interests.layout.sidebar.heading }}">{{ interest_group.name }}</div>

        <div class="{{ sf_interests.layout.sidebar.list }}">
            {% for sb in sidebar%}
                <a class="{{ sf_interests.layout.sidebar.item }}"
                href="{{ sb.href }}">{{ sb.title }}</a>
            {% endfor%}
        </div>
    </div>
{% endif %}