{%  set form = {
        "id": "login",
        "csrf_token": csrf_token,
        "post_url": url('login_user'),
        "submit_button_text": "Login",
        "fields": [
            {
                "id": "username",
                "name": "username",
                "type": "required_text",
                "label": "User name:",
                "width": "w-100",
                "required_message": "Please enter your name."
            },
            {
                "id": "password",
                "name": "password",
                "type": "password",
                "label": "Password:",
                "width": "w-100",
                "required_message": "Please enter your password."
            },
        ]
    }
%}

{{ entry_factory.create_form(form) }}