{% extends "base.jinja2" %}

{% block sidebar %}
    {% include "includes/interests/sidebar.jinja2" %}
{% endblock %}

{% block content %}
    <div id="content-wrapper" class="container-fluid">
        <div>
            <a href="{{ url('questions_index', args=[interest_group.slug]) }}" class="btn btn-primary btn-sm float-end" id="new_question">
                <i class="fa-solid fa-delete-left"></i>
            </a>
        </div>

        <div>
            <article>
                <header>
                    {{ element_factory.page_title(question.title) }}
                    <!-- for tags
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a -->
                </header>

                <section class="mb-3">
                    <label class="small text-muted">{{ question.author.display_name }} - {{ question.created_at | dt_to_user_frmt }}</label>
                    <textarea class="disabled">{{ question.text }}</textarea>
                </section>
            </article>

            <section>
                {% for a in answers %}
                    <div class="card card-body bg-light p-3 mb-3">
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex flex-column mb-3">
                                <label for="answer-{{ a.id }}" class="small text-muted">{{ a.author }} - {{ a.created_at | dt_to_user_frmt }}</label>
                                <textarea class="disabled" id="answer-{{ a.id }}">{{ a.text }}</textarea>
                            </div>

                            {% for r in replies %}
                                {% if r.question_answer == a %}
                                    <div class="d-flex flex-column ms-5 mb-3">
                                        <label class="small text-muted" for="reply-{{ r.id }}">{{ r.author.display_name }} - {{ r.created_at | dt_to_user_frmt }}</label>
                                        <textarea class="disabled" id="reply-{{ r.id }}">{{ r.text }}</textarea>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <div class="ms-5">
                                <form method="POST" action="{{ url('questions_reply', args=[interest_group.slug, question.id, a.id]) }}">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>

                                    <label for="reply_text" class="small">Reply to this answer:</label>
                                    <textarea id="reply_text" name="reply_text" class="form-control tiny_question_reply"></textarea>
                                    <button type="submit" class="btn btn-primary btn-sm mt-2">Submit your reply</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <form method="POST" action="{{ url('questions_answer', args=[interest_group.slug, question.id]) }}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>

                    <label for="answer_text" class="small">Answer this question:</label>
                    <textarea id="answer_text" name="answer_text" class="form-control tiny_question_answer"></textarea>
                    <button type="submit" class="btn btn-primary btn-sm mt-2">Submit your answer</button>
                </form>
            </section>
        </div>
    </div>
{% endblock %}
