{% extends "forms/chat_form.jinja2" %}

{% block toolbar %}
    {{ toolbar_factory.back_button( url('questions_index', args=[interest_group.slug]) ) }}
{% endblock %}

{% block page_title %}
    {{ element_factory.page_title(question.title) }}
{% endblock %}

{% block detail %}
    {{ chat_factory.level_1_div(question_content()) }}

    {% for answer in answers %}
        {{ chat_factory.level_2_div(answer_content(answer, replies)) }}
    {% endfor %}

    {{ chat_factory.level_1_div(answer_form(question)) }}
{% endblock %}

{% macro question_content() %}
    {{ chat_factory.level_1(
            "question-" + question.id|string,
            question.author.display_name + " - " + question.created_at | dt_to_user_frmt,
            question.text
    ) }}
{% endmacro %}

{% macro answer_content(answer, replies) %}
    {{ chat_factory.level_2(
        "answer-" + answer.id|string,
        answer.author.display_name + " - " + answer.created_at | dt_to_user_frmt,
        answer.text
    ) }}

    {% for r in replies %}
        {% if r.question_answer == answer %}
            {{ chat_factory.level_3(
                "reply-" + r.id|string,
                r.author.display_name + " - " + r.created_at | dt_to_user_frmt,
                r.text
            ) }}
        {% endif %}
    {% endfor %}

    {{ chat_factory.level_3_div(reply_form(answer)) }}
{% endmacro %}

{# do not touch below this line #}
{% macro reply_form(answer) %}
    {% include "config/server_side/questions/reply.jinja2" %}
{% endmacro %}

{% macro answer_form(question) %}
    {% include "config/server_side/questions/answer.jinja2" %}
{% endmacro %}

{% block sidebar %}
    {% include "includes/interests/sidebar.jinja2" %}
{% endblock %}
