{#####
#
#   Version:    1.0.0
#   Date:       2022-08-01
#   Author:     Yves Vindevogel
#
#####}

{% extends "forms/list_form.jinja2" %}

{% macro create_rows() %}
    {% for q in questions %}
        <tr>
            <td>
                <a href="{{ url("questions_read", args=[interest_group.slug, q.id]) }}">{{ q.title }}</a>
            </td>
            <td>{{ q.author }}</td>
            <td>{{ q.created_at | dt_to_user_frmt }}</td>
            <td>{{ q.view_count }}</td>
            <td>{{ q.response_count }}</td>
            <td>{{ q.comment_count }}</td>
        </tr>
    {% endfor %}
{% endmacro %}

{% block page_title %}Questions{% endblock %}

{% block sidebar %}
    {% include "includes/interests/sidebar.jinja2" %}
{% endblock %}

{% block toolbar %}
    {% set toolbar = {
        "buttons": [
            {"type": "new", "url": url('questions_new', args=[interest_group.slug])}
        ],
    } %}

    {{ toolbar_factory.get_toolbar(toolbar) }}
{% endblock %}

{% block datatable %}
    {%
        set columns = [
            {"width": "53%", "title": "Title"},
            {"width": "20%", "title": "Author"},
            {"width": "12%", "title": "Created"},
            {"width": "5%", "title": "V"},
            {"width": "5%", "title": "R"},
            {"width": "5%", "title": "C"},
        ]
    %}

    {{ datatable_factory.get_table({"id": "questions_dt", "columns": columns, "data": create_rows()}) }}
{% endblock %}

{% block client_side_config %}
    {% include "config/questions/index.js" %}
{% endblock %}
