{% extends "datatable.jinja2" %}

{% block sidebar%}
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">{{ interest_group.name }}</div>
        
        <div class="list-group list-group-flush border-bottom m-0 p-0">
            {% for sb in side_bar%}
                <a class="list-group-item list-group-item-action list-group-item-light px-3 py-2" 
                href="{{ sb.href }}">{{ sb.title }}</a>
            {% endfor%}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid px-2 px-lg-3">
        <div class="mt-3">
            <h1>Questions</h1>    

            <table id="questions_dt" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    {% for q in questions %}
                        <tr>
                            <td>{{ q.author }}</td>
                            <td>{{ q.title }}</td>
                            <td>{{ q.created_at | dt_to_user_frmt }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Created</th>
                    </tr>
                </tfoot>
            </table>        
        </div>
    </div>
{% endblock %}

{% block datatable_scripting %}
    <script>
        $(document).ready(function () {
            $('#questions_dt').DataTable();
        });
    </script>
{% endblock %}
