{% extends "base.jinja2" %}

{% block sidebar %}
    {% include "includes/interests/sidebar.jinja2" %}
{% endblock %}

{% macro create_rows(questions) %}
    {% for q in questions %}
        <tr>
            <td>
                <a href="{{ url("questions_detail", args=[interest_group.slug, q.id]) }}">{{ q.title }}</a>
            </td>
            <td>{{ q.author }}</td>
            <td>{{ q.created_at | dt_to_user_frmt }}</td>
        </tr>
    {% endfor %}
{% endmacro %}

{% block content %}
    <div id="content-wrapper" class="container-fluid">
        <div id="top_right_toolbar">
            {{ element_factory.toolbar_button("new_question",
                url('questions_new', args=[interest_group.slug]), "fa-file-circle-plus") }}
        </div>

        <div id="questions_list">
            {{ element_factory.page_title("Questions") }}

            {% set columns = [
                    {"width": "65%", "title": "Title"},
                    {"width": "20%", "title": "Author"},
                    {"width": "15%", "title": "Created"},
                ]
            %}

            <table id="questions_dt" class="table table-striped w-100 border border-1">
                {{ datatable_factory.create_header(columns) }}

                <tbody>{{ create_rows(questions) }}</tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block datatable_scripting %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#questions_dt').DataTable({
                order: [[2, 'desc']],
            });
        });
    </script>
{% endblock %}
