{% extends "base.jinja2" %}

{% block sidebar %}
    {% include "includes/interests/sidebar.jinja2" %}
{% endblock %}

{% block content %}
    <div id="content-wrapper" class="container-fluid">
        <div>
            <a href="{{ url('questions_index', args=[interest_group.slug]) }}" class="btn btn-primary btn-sm float-end" id="new_question">
                <i class="fa-solid fa-delete-left"></i>
            </a>
        </div>

        <div>
            <h1>New Question</h1>

            <form method="POST" action="{{ url('questions_save', args=[interest_group.slug]) }}">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>

                <label for="question_title" class="form-label">Title:</label>
                <input type="text" id="question_title" name="question_title" class="form-label w-50" required data-validation-required-message="Please enter the title."/>

                <label for="question_text">Question:</label>
                <textarea id="question_text" name="question_text" class="tiny_question form-text" required data-validation-required-message="Please enter the content of the question." aria-describedby="textHelp"></textarea>
                <div id="question_text_help" class="form-text">Please provide as much detail as possible. If possible, also a screenshot.</div>

                <button type="submit" class="btn btn-primary btn-sm mt-2">Submit your question</button>
            </form>
        </div>
    </div>
{% endblock %}
