{% extends "forms/entry_form.jinja2" %}

{% block toolbar %}
    {{ toolbar_factory.cancel_button( url('questions_index', args=[interest_group.slug]) ) }}
{% endblock %}

{% block page_title %}
    {{ element_factory.page_title("New Question") }}
{% endblock %}


{# do not touch below this line #}
{% block form %}
    {% include "config/server_side/questions/new.jinja2" %}
{% endblock %}

{% block sidebar %}
    {% include "includes/interests/sidebar.jinja2" %}
{% endblock %}
