{% extends "forms/entry_form.jinja2" %}

{% block page_title %}New Question{% endblock %}

{% block toolbar %}
    {{ toolbar_factory.get_cancel_button( url('questions_index', args=[interest_group.slug]) ) }}
{% endblock %}

{% block sidebar %}
    {% include "includes/interests/sidebar.jinja2" %}
{% endblock %}

{% block form %}
    {%  set _form_def_ = {
        "id": "new_question",
        "csrf_token": csrf_token,
        "post_url": url('questions_create', args=[interest_group.slug]),
        "submit_button_text": "Submit your question",
        "fields": [
            {
                "id": "question_title",
                "name": "question_title",
                "type": "required_text",
                "label": "Title for your question:",
                "width": "w-50",
                "required_message": "Please enter the title."
            },
            {
                "id": "question_text",
                "name": "question_text",
                "type": "required_textarea",
                "label": "Your question:",
                "required_message": "Please enter the question's content."
            }
        ]
    } %}

    {{ entry_factory.get_form(_form_def_) }}
{% endblock %}

