{% set sf_questions = {
    "layout": {
        "index": {
            "buttons": {
                "new": "btn btn-primary float-end"
            },
            "table": "border-end",
        },
        "detail": {
            "question": {
                "user_date": "text-muted fst-italic mb-2",
                "header": "mb-3",
                "section": "mb-3"
            },
            "answers": {
                "wrapper": "card card-body bg-light"
            },
            "answer": {
                "author": "fw-bold",
                "wrapper": "d-flex flex-row mb-4"
            },
            "discussions": {
                "wrapper": "ms-2"
            },
            "discussion": {
                "author": "fw-bold",
                "wrapper": "d-flex flex-row mt-2",
                "text": "ms-2"
            }
        }
    }
} %}