{% macro message(_id, _label, _text, _information) %}
    <div class="d-flex flex-column mb-3">
        <label for="{{ _id }}" class="form-label">{{ _label }}</label>
        <p class="small text-muted">{{ _information}}</p>
        <textarea id="{{ _id }}" class="disabled tiny-disabled">{{ _text }}</textarea>
    </div>
{% endmacro %}

{% macro response(_id, _label, _text) %}
    <div class="d-flex flex-column mb-3">
        <label for="{{ _id }}" class="form-label">{{ _label }}</label>
        <textarea id="{{ _id }}" class="disabled tiny-disabled">{{ _text }}</textarea>
    </div>
{% endmacro %}

{# TODO: the ms-5 is on the comment block already, nest it better in questions #}
{% macro comment(_id, _label, _text) %}
    <div class="d-flex flex-column ms-5 mb-3">
        <label for="{{ _id }}" class="form-label">{{ _label }}</label>
        <textarea id="{{ _id }}" class="disabled tiny-disabled">{{ _text }}</textarea>
    </div>
{% endmacro %}

{% macro message_block(_inner_code) %}
    <div>{{ _inner_code }}</div>
{% endmacro %}

{% macro response_block(_inner_code) %}
    <div class="card card-body bg-light p-3 mb-3">
        <div class="d-flex flex-column w-100">
            {{ _inner_code }}
        </div>
    </div>
{% endmacro %}

{% macro comment_block(_inner_code) %}
    <div class="ms-5">
        {{ _inner_code }}
    </div>
{% endmacro %}
