{#####
#
#   Version:    1.0.0
#   Date:       2022-08-01
#   Author:     Yves Vindevogel
#
#####}

{% macro get_header(_columns) %}
    <thead>
        <tr>
            {% for _c_ in _columns %}
                <th style="width: {{ _c_.width }}">{{ _c_.title}}</th>
            {% endfor %}
        </tr>
    </thead>
{% endmacro %}

{% macro get_table(_datatable) %}
    <table id="{{ _datatable.id }}" class="table table-striped w-100 border border-1">
        {{ get_header(_datatable.columns) }}

        <tbody>{{ _datatable.data }}</tbody>
    </table>
{% endmacro %}
