{#####
#
#   Version:    1.0.0
#   Date:       2022-07-28
#   Author:     Yves Vindevogel
#
#####}

{% macro create_header(columns) %}
    <thead>
        <tr>
            {% for c in columns %}
                <th style="width: {{ c.width }}">{{ c.title}}</th>
            {% endfor %}
        </tr>
    </thead>
{% endmacro %}

{% macro create_datatable(datatable, data) %}
        <table id="{{ datatable.id }}" class="table table-striped w-100 border border-1">
            {{ create_header(datatable.columns) }}

            <tbody>{{ data }}</tbody>
        </table>
{% endmacro %}
