{#####
#
#   Version:    1.0.0
#   Date:       2022-07-28
#   Author:     Yves Vindevogel
#
#####}

{% macro page_title(_title) %}
    <h1>{{ _title }}</h1>
{% endmacro %}

{% macro submit_button(_btn_text) %}
    <button type="submit" class="btn btn-primary btn-sm mt-2">{{ _btn_text }}</button>
{% endmacro %}

{% macro csrf_security() %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
{% endmacro %}