{% macro page_title(_title) %}
    <h1>{{ _title }}</h1>
{% endmacro %}

{% macro submit_button(_btn_text) %}
    <button type="submit" class="btn btn-primary btn-sm mt-2">{{ _btn_text }}</button>
{% endmacro %}

{% macro toolbar_button(id, url, icon) %}
            <a href="{{ url }}" class="btn btn-primary btn-sm float-end" id="{{ id }}">
                <i class="fa-solid {{ icon }}"></i>
            </a>
{% endmacro %}
