{#####
#
#   Version:    1.0.0
#   Date:       2022-08-01
#   Author:     Yves Vindevogel
#
#####}

{% macro get_submit_button(_btn) %}
    {% if _btn is mapping %}
        <button type="submit" class="btn btn-primary btn-sm mt-2">{{ _btn.button_text }}</button>
    {% else %}
        <button type="submit" class="btn btn-primary btn-sm mt-2">{{ _btn }}</button>
    {% endif %}
{% endmacro %}

{% macro get_csrf_security(_token) %}
    {% if _token is mapping %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ _token.token }}"/>
    {% else %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ _token }}"/>
    {% endif %}
{% endmacro %}

{% macro get_form(_form) %}
    <form id="{{ _form.id }}" method="POST" action="{{ _form.post_url }}">
        {{ get_csrf_security({"token": _form.csrf_token}) }}

        {% for _field_ in _form.fields %}
            <label for="{{ _field_.id }}" class="form-label mb-0 ms-1 small">{{ _field_.label }}</label>

            {% if _field_.type == "required_text" %}
                <input type="text" id="{{ _field_.id }}" name="{{ _field_.name }}" class="form-text {{ _field_.width }}"
                       required data-validation-required-message="{{ _field_.required_message }}"/>
            {% endif %}

            {% if _field_.type == "password" %}
                <input type="password" id="{{ _field_.id }}" name="{{ _field_.name }}"
                        class="form-text {{ _field_.width }}"
                       required data-validation-required-message="{{ _field_.required_message }}"/>
            {% endif %}

            {% if _field_.type == "required_textarea" %}
                <textarea id="{{ _field_.id }}" name="{{ _field_.name }}" class="tiny-enabled form-text"
                          required data-validation-required-message="{{ _field_.required_message }}"></textarea>
            {% endif %}

            {% if _field_.help_message %}
                <div id="{{ _field_.id }}_help" class="form-text">{{ _field_.help_message }}</div>
            {% endif %}
        {% endfor %}

        {{ get_submit_button({"button_text": _form.submit_button_text}) }}
    </form>
{% endmacro %}