{#####
#
#   Version:    1.0.0
#   Date:       2022-07-28
#   Author:     Yves Vindevogel
#
#####}

{% macro toolbar_button(_id, _url, _icon) %}
    <a href="{{ _url }}" class="btn btn-primary btn-sm float-end" id="{{ _id }}">
        <i class="fa-solid {{ _icon }}"></i>
    </a>
{% endmacro %}

{% macro new_button(_url) %}
    {{ toolbar_button("toolbar_new", _url, "fa-file-circle-plus") }}
{% endmacro %}

{% macro cancel_button(_url) %}
    {{ toolbar_button("toolbar_cancel", _url, "fa-delete-left") }}
{% endmacro %}

{% macro back_button(_url) %}
    {{ toolbar_button("toolbar_back", _url, "fa-delete-left") }}
{% endmacro %}

{% macro build_toolbar(_toolbar) %}
    <div id="top_right_toolbar">
        {% for button in _toolbar.buttons %}
            {% if button.type == "new" %}
                {{ new_button(button.url) }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}