{#####
#
#   Version:    1.0.0
#   Date:       2022-07-28
#   Author:     Yves Vindevogel
#
#####}

{% macro toolbar_button(id, url, icon) %}
    <a href="{{ url }}" class="btn btn-primary btn-sm float-end" id="{{ id }}">
        <i class="fa-solid {{ icon }}"></i>
    </a>
{% endmacro %}

{% macro new_button(url) %}
    {{ toolbar_button("toolbar_new", url, "fa-file-circle-plus") }}
{% endmacro %}

{% macro cancel_button(url) %}
    {{ toolbar_button("toolbar_cancel", url, "fa-delete-left") }}
{% endmacro %}

{% macro build_toolbar(toolbar) %}
    <div id="top_right_toolbar">
        {% for button in toolbar.buttons %}
            {% if button.type == "new" %}
                {{ new_button(button.url) }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}