{#####
#
#   Version:    1.0.0
#   Date:       2022-08-01
#   Author:     Yves Vindevogel
#
#####}

{% extends "forms/generic_page.jinja2" %}

{% block sidebar %}
    {% include "includes/interests/sidebar.jinja2" %}
{% endblock %}

{% block page_title %}
    {{ interest_group.name }}
{% endblock %}

{% block page %}
    {% if interest_group.description.strip() != "" %}
        {{ basic_factory.get_lead_text(interest_group.description) }}
    {% endif %}

    {{ basic_factory.get_text(interest_group.about) }}
{% endblock %}