{% extends "forms/generic_page.jinja2" %}

{% block sidebar %}
    {% include "includes/interests/sidebar.jinja2" %}
{% endblock %}

{% block page_title %}
    {{ element_factory.page_title(interest_group.name) }}
{% endblock %}

{% block page_content %}
    {% if interest_group.description.strip() != "" %}
        <p class="lead">{{ interest_group.description }}</p>
    {% endif %}

    <p>{{ interest_group.about }}</p>
{% endblock %}