{#####
#
#   Version:    1.0.0
#   Date:       2022-08-01
#   Author:     Yves Vindevogel
#
#####}

{% extends "forms/generic_page.jinja2" %}

{% block page_title %}Dashboard{% endblock %}

{% block sidebar %}
    {% include "includes/interests/sidebar.jinja2" %}
{% endblock %}

{% block page %}
    {% set _cards_ = [] %}

    {% set _member_stats_ = {
        "header": "Members",
        "stats": [
            "Count: " + interest_group.member_count|string
        ]
    } %}

    {% set _question_stats_ = {
        "header": "Questions",
        "stats": [
            "Total: " +  interest_group.question_count|string,
            "Responses: " + interest_group.question_response_count|string,
            "Comments: " + interest_group.question_comment_count|string
        ]
    } %}


    {% set _ = _cards_.append(_member_stats_) %}
    {% set _ = _cards_.append(_question_stats_) %}

    {{ basic_factory.get_lead_text(interest_group.description) }}

    {{ card_factory.get_statistics_row({"cards": _cards_}) }}
{% endblock %}
