{% extends "forms/generic_page.jinja2" %}

{% block page_title %}Dashboard{% endblock %}

{% block sidebar %}
    {% include "includes/interests/sidebar.jinja2" %}
{% endblock %}

{% block page %}
    {% set cards = [] %}

    {% set member_stats = {
        "header": "Members",
        "stats": [
            "Count: " + interest_group.member_count|string
        ]
    } %}

    {% set question_stats = {
        "header": "Questions",
        "stats": [
            "Total: " +  interest_group.question_count|string,
            "Responses: " + interest_group.question_response_count|string,
            "Comments: " + interest_group.question_comment_count|string
        ]
    } %}


    {% set _ = cards.append(member_stats) %}
    {% set _ = cards.append(question_stats) %}

    {{ basic_factory.get_lead_text(interest_group.description) }}

    {{ card_factory.get_statistics_row({"cards": cards}) }}
{% endblock %}
