{% extends "base.jinja2" %}

{% from "interests/settings.jinja2" import sf_interests %}

{% block sidebar %}
    {% include "includes/interests/sidebar.jinja2" %}
{% endblock %}

{% block content %}
    <div id="content-wrapper" class="container-fluid">
        <h1>{{ interest_group.name }}</h1>

        {% if interest_group.description.strip() != "" %}
            <p class="{{ sf_interests.layout.group_about.description }}">{{ interest_group.description }}</p>
        {% endif %}

        <p>{{ interest_group.about }}</p>
    </div>
{% endblock %}