{% extends "base.jinja2" %}

{% from "interests/settings.jinja2" import sf_interests %}

{% block sidebar %}
    {% include "includes/interests/sidebar.jinja2" %}
{% endblock %}

{% block content %}
    <div id="content-wrapper" class="container-fluid">
        <p class="{{ sf_interests.layout.group_detail.description }}">{{ interest_group.description }}</p>
    </div>
{% endblock %}