{% extends "base.jinja2" %}

{% block sidebar %}
    {% include "includes/interests/sidebar.jinja2" %}
{% endblock %}

{% block content %}
    <div id="content-wrapper">
        <div class="container-fluid">
            <p class="lead mt-3">{{ interest_group.description }}</p>
        </div>
    </div>
{% endblock %}