{% set sf_interests = {
    "layout": {
        "sidebar": {
            "wrapper": "border-end",
            "heading": "sidebar-heading border-bottom bg-light",
            "list": "list-group list-group-flush border-bottom m-0 p-0",
            "item": "list-group-item list-group-item-action list-group-item-light px-2 py-1"
        },
        "group_detail": {
            "description": "lead"
        },
        "group_about": {
            "description": "lead"
        }
    }
} %}