{#####
#
#   Version:    1.0.0
#   Date:       2022-08-01
#   Author:     Yves Vindevogel
#
#####}

{% extends "forms/generic_page.jinja2" %}

{% block page_title %}Under construction{% endblock %}

{% block sidebar %}
    {% include "includes/interests/sidebar.jinja2" %}
{% endblock %}

{% block page %}
    {% basic_factory.get_text("This tool is still under construction and this module is not yet finished.") %}
{% endblock %}