{% extends "base.jinja2" %}

{% block sidebar %}
    {% include "includes/interests/sidebar.jinja2" %}
{% endblock %}

{% block content %}
    <div id="content-wrapper" class="container-fluid">
        <h1>Under construction</h1>
        
        <p>This tool is still under construction and this module is not yet finished.</p>
    </div>
{% endblock %}