<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ settings.application_long_name }}" />
    <meta name="author" content="{{ settings.authors }}" />

    <title>{{  settings.application_name }}</title>

    <link rel="icon" type="image/x-icon" href="{{ static("assets/favicon.ico") }}"/>

    <link href="{{ static("css/styles-sb.css") }}" rel="stylesheet"/>
    <link href="{{ static("css/sofort-sb.css") }}" rel="stylesheet"/>

    <script type="text/javascript" src='https://cdn.tiny.cloud/1/fcmycanlvvvsfs3c1itork7mdbworiozs1xejsg8ncc60zt8/tinymce/6/tinymce.min.js'
            referrerpolicy="origin"></script>

    <script type="text/javascript">
        tinymce.init(
        {
            selector: 'textarea',
            width: '100%',
            height: 300,
            plugins: 'advlist link image lists code',
            menubar: 'file edit view',
            menu:
            {
                edit:
                {
                    title: 'Edit', items: 'undo, redo, selectall'
                }
            },
        });
  </script>
</head>
