{% set sf_common = {
    "layout": {
        "datatable": "table table-striped w-100 border border-1",

        "avatar": {
            "image": "rounded-circle",
            "wrapper": "flex-shrink-0"
        }
    }
} %}

