{% set sf_common = {
    "layout": {
        "datatable": "table table-striped w-100 border border-1",

        "avatar": {
            "image": "rounded-circle",
            "wrapper": "flex-shrink-0"
        },

        "submit_button": "mt-2 btn btn-primary",
        "form_control": "form-control mb-2",
        "form_label": "form-label",
        "form_help": "form-text"
    }
} %}

