{% extends "base.jinja2" %}

{% block content %}
    <div id="content-wrapper" class="container-fluid">
        {% include "includes/core/welcome.jinja2" %}
        {% include "includes/core/important.jinja2" %}
        {% include "includes/core/interest_groups.jinja2" %}
    </div>
{% endblock %}




