{#####
#
#   Version:    1.0.0
#   Date:       2022-08-01
#   Author:     Yves Vindevogel
#
#####}

{% extends "forms/home_page.jinja2" %}

{% block home_page %}
    {% include "includes/core/welcome.jinja2" %}
    {% include "includes/core/important.jinja2" %}

    {% if user.username != "" %}
        {% include "includes/core/interest_groups.jinja2" %}
    {% endif %}
{% endblock %}




