{% set sf_core = {
    "layout": {
        "body": {
            "wrapper": "d-flex flex-column min-vh-100"
        },
        "nav": {
            "wrapper": "navbar navbar-expand-lg navbar-dark bg-dark py-1",
            "container": "container-fluid px-1 px-lg-2",
            "brand": "navbar-brand",
            "icon": "text-white fa-solid fa-house px-2",
            "sb_toggle": "btn btn-primary",
            "toggle": "navbar-toggler",
            "toggle_icon": "navbar-toggler-icon"
        },
        "menu": {
            "collapse": "collapse navbar-collapse",
            "wrapper": "navbar-nav ms-auto mb-0",
            "item": "nav-item",
            "item_active": "nav-link active",
            "item_inactive": "nav-link"
        },
        "footer": {
            "wrapper": "bg-dark mt-auto",
            "container": "container px-1 px-lg-2 pt-1",
            "text": "m-0 text-center text-white"
        },
        "index": {
            "welcome": {
                "div":  "row gx-2 gx-lg-3 align-items-center py-3",
                "div_image": "col-lg-3",
                "div_text": "col-lg-6",                
                "div_login": "col-lg-3",                
                "image": "img-fluid rounded mb-3"
            }
        },
        "interest_groups": {
            "wrapper": "row gx-3 gx-lg-4",
            "group": "col-md-4 mb-3",
            "card": "card h-100",
            "card_body": "card-body",
            "card_title": "card-title",
            "card_text": "card-text",
            "card_footer": "card-footer",
            "card_button": "btn btn-primary btn-sm"
        },
        "important": {
            "card": "card text-white bg-secondary my-2 py-2 text-center",
            "card_body": "card-body",
            "card_text": "text-white m-0"
        }
    }
} %}