{%  set form = {
    "id": "comment_" + response.id|string|replace("-", "_"),
    "csrf_token": csrf_token,
    "post_url": url('questions_comment', args=[interest_group.slug, question.id, response.id]),
    "submit_button_text": "Submit your comment",
    "fields": [
        {
            "id": "comment_text" + response.id|string|replace("-", "_"),
            "name": "comment_text",
            "type": "required_textarea",
            "label": "Comment this response:",
            "required_message": "Please enter the comment's content."
        }
    ]
} %}

{#  do not touch below this line #}
{{ entry_factory.create_form(form) }}
