{#  configuration of the datatable on server side #}

{%
    set datatable = {
        "id": "questions_dt",
        "columns": [
            {"width": "53%", "title": "Title"},
            {"width": "20%", "title": "Author"},
            {"width": "12%", "title": "Created"},
            {"width": "5%", "title": "V"},
            {"width": "5%", "title": "R"},
            {"width": "5%", "title": "C"},
        ]
    }
%}
{#  don't change the id #}

{#  do not touch below this line #}
{{ datatable_factory.create_datatable(datatable, create_rows(questions)) }}

