{%  set form = {
    "id": "response",
    "csrf_token": csrf_token,
    "post_url": url('questions_respond', args=[interest_group.slug, question.id]),
    "submit_button_text": "Submit your response",
    "fields": [
        {
            "id": "response_text",
            "name": "response_text",
            "type": "required_textarea",
            "label": "Respond to this question:",
            "required_message": "Please enter the response's content."
        }
    ]
} %}

{#  do not touch below this line #}
{{ entry_factory.create_form(form) }}
