
/*
    Overrides on the default styles.css supplied by startbootstrap
 */

:root {
    --nav-height: 3rem;
    /* --nav-height is not used to set the height itself because that would fix it also when the menu is visible */
    --footer-height: 3rem;
}

.navbar {
    position: relative;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform:translateX(-50%) !important;
    display: block;
}

footer {
    min-height: var(--footer-height);
}

#page-wrapper {
    min-height: calc(100vh - var(--nav-height) - var(--footer-height));
    width: 100%;
}

#content-wrapper {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

#sidebar-wrapper {
    min-height: calc(100vh - var(--nav-height) - var(--footer-height));
}

label {
    width: 100% !important;
}