{% from "core/settings.jinja2" import sf_core %}

<footer class="{{ sf_core.layout.footer.wrapper }}">
    <div class="{{ sf_core.layout.footer.container }}">
        <p class="{{ sf_core.layout.footer.text }}">{{ settings.copyright }}</p>
    </div>
</footer>
