{% from "core/settings.jinja2" import sf_core %}

{% if message is defined %}
    <div class="position-absolute w-100 p-2">
        {% if message.status == "SUCCESS" %}
            <div class="alert alert-success alert-dismissible fade show float-end" id="sofort-alert" role="alert">
                {{ message.text }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        {% if message.status == "INFO" %}
            <div class="alert alert-info alert-dismissible fade show float-end" id="sofort-alert" role="alert">
                {{ message.text }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        {% if message.status == "WARN" %}
            <div class="alert alert-warning alert-dismissible fade show float-end" id="sofort-alert" role="alert">
                {{ message.text }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        {% if message.status == "ERROR" %}
            <div class="alert alert-danger alert-dismissible fade show float-end" id="sofort-alert" role="alert">
                {{ message.text }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    </div>
{% endif %}
