{% from "core/settings.jinja2" import sf_core %}

<nav class="{{ sf_core.layout.nav.wrapper }}">
    <div class="{{ sf_core.layout.nav.container }}">
        <i class="{{ sf_core.layout.nav.icon }}"></i>
        <a class="{{ sf_core.layout.nav.brand }}" href="{{ url('index') }}">{{ settings.application_name }}</a>
        
        {% if meta.side_bar == true %}
            <button class="{{ sf_core.layout.nav.sb_toggle }}" id="sidebarToggle">Toggle menu</button>
        {% endif %}

        <button class="{{ sf_core.layout.nav.toggle }}" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="{{ sf_core.layout.nav.toggle_icon }}"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <p>{{ meta.current_page }}</p>
            <ul class="navbar-nav ms-auto mb-0">
                {% if meta.current_page == "home" %}
                    <li class="{{ sf_core.layout.menu.item }}">
                        <a class="{{ sf_core.layout.menu.item_active }}" aria-current="page"
                                            href="{{ url('index') }}">Home</a></li>
                {% else %}
                    <li class="{{ sf_core.layout.menu.item }}">
                        <a class="{{ sf_core.layout.menu.item_inactive }}" aria-current="page"
                                            href="{{ url('index') }}">Home</a></li>
                {% endif %}

                {% for menu in navigation_menu %}
                    {% if meta.current_page == "pages_detail" and meta.slug == menu.slug %}
                        <li class="{{ sf_core.layout.menu.item }}">
                            <a class="{{ sf_core.layout.menu.item_active }}"
                               href="{{ url('page_detail', args=[menu.slug]) }}">{{ menu.menu_title }}</a>
                        </li>
                    {% else %}
                        <li class="{{ sf_core.layout.menu.item }}">
                            <a class="{{ sf_core.layout.menu.item_inactive }}"
                               href="{{ url('page_detail', args=[menu.slug]) }}">{{ menu.menu_title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>