<nav class="{{ layout.sf_nav }}">
    <div class="{{ layout.sf_nav_container }}">
        <i class="{{ layout.sf_nav_icon }}"></i>
        <a class="{{ layout.sf_nav_brand }}" href="{{ url('index') }}">{{ settings.application_name }}</a>
        
        {% if meta.side_bar == true %}
            <button class="{{ layout.sf_nav_sb_toggle }}" id="sidebarToggle">Toggle menu</button>
        {% endif %}

        <button class="{{ layout.sf_nav_toggle }}" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="{{ layout.sf_nav_toggle_icon }}"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <p>{{ meta.current_page }}</p>
            <ul class="navbar-nav ms-auto mb-0">
                {% if meta.current_page == "home" %}
                    <li class="{{ layout.sf_nav_menu_item }}"><a class="{{ layout.sf_nav_menu_item_active }}" aria-current="page"
                                            href="{{ url('index') }}">Home</a></li>
                {% else %}
                    <li class="{{ layout.sf_nav_menu_item }}"><a class="{{ layout.sf_nav_menu_item_inactive }}" aria-current="page"
                                            href="{{ url('index') }}">Home</a></li>
                {% endif %}

                {% for menu in navigation_menu %}
                    {% if meta.current_page == "pages_detail" and meta.slug == menu.slug %}
                        <li class="{{ layout.sf_nav_menu_item }}">
                            <a class="{{ layout.sf_nav_menu_item_active }}"
                               href="{{ url('page_detail', args=[menu.slug]) }}">{{ menu.menu_title }}</a>
                        </li>
                    {% else %}
                        <li class="{{ layout.sf_nav_menu_item }}">
                            <a class="{{ layout.sf_nav_menu_item_inactive }}"
                               href="{{ url('page_detail', args=[menu.slug]) }}">{{ menu.menu_title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>