<script type="text/javascript">
    tinymce.init(
    {
        selector: 'textarea.tiny_question',
        setup: function (editor) {
            editor.on('change', function () {
                tinymce.triggerSave();
            });
        },
        inline: false,
        width: '100%',
        min_height: 400,
        branding: false,
        plugins: 'advlist autolink autoresize autosave charmap code codesample emoticons fullscreen help hr ' +
            'image insertdatetime link lists paste searchreplace table textpattern wordcount ',
        toolbar: 'undo redo cut copy paste pastetext | bold italic underline align_grp  | numlist bullist | ' +
            'image link codesample insertdatetime emoticons | restoredraft print fullscreen | help',
        toolbar_mode: 'floating',
        toolbar_sticky: true,
        toolbar_groups: {
            align_grp: {
                icon: 'format',
                tooltip: "Align",
                items: 'alignleft aligncenter alignright alignjustify alignnone'
            }
        },
        menubar: 'edit format insert table tools',
        contextmenu: 'image link codesample table',

        default_link_target: '_blank',
        default_link_protocol: 'https',
        codesample_languages: [
            {text: 'Python', value: 'python'},
            {text: 'Makefile', value: 'makefile'},
            {text: 'HTML/XML', value: 'markup' },
            {text: 'JavaScript', value: 'javascript' },
            {text: 'CSS', value: 'css' },
        ],
        help_tabs: ['shortcuts', 'keyboardnav'],
        image_caption: true,
        image_title: true,
        image_advtab: false,
        insertdatetime_formats: ['%Y-%m-%d', '%Y-%m-%d %H:%M', '%H:%M:%S', '%H:%M'],
        insertdatetime_dateformat: '%Y-%m-%d',
        insertdatetime_timeformat: '%H:%M',
        insertdatetime_element: true,

        statusbar: false,
        readonly: false,
    });
</script>