{% from "core/settings.jinja2" import sf_core %}

{% if settings.important_message %}
    <div class="{{ sf_core.layout.important.card }}">
        <div class="{{ sf_core.layout.important.card_body }}">
            <p class="{{ sf_core.layout.important.card_text }}">{{ settings.important_message }}</p>
        </div>
    </div>
{% endif %}
