{#####
#
#   Version:    1.0.0
#   Date:       2022-08-01
#   Author:     Yves Vindevogel
#
#####}

{% set _cards_ = [] %}

{% for _interest_group_ in interest_groups %}
    {% set _card_ = {
        "header": _interest_group_.name,
        "text": _interest_group_.description,
        "url": url('interest_group_index', args = [_interest_group_.slug]),
        "button_text": "Go to "+  _interest_group_.name + "'s home"
    } %}

    {% set _ = _cards_.append(_card_) %}
{% endfor %}

{{ card_factory.get_action_row({"cards": _cards_}) }}

