{#####
#
#   Version:    1.0.0
#   Date:       2022-08-01
#   Author:     Yves Vindevogel
#
#####}

{% set cards=[] %}

{% for ig in interest_groups %}
    {% set card = {
        "header": ig.name,
        "text": ig.description,
        "url": url('interest_group_index', args = [ig.slug]),
        "button_text": "Go to "+  ig.name + "'s home"
    } %}

    {% set _ = cards.append(card) %}
{% endfor %}

{{ card_factory.get_action_row({"cards": cards}) }}

