{% macro create_login_form() %}
    {% include "config/server_side/core/login.jinja2" %}
{% endmacro %}

{% if user.username != "" %}
    {{ card_factory.create_card("Welcome", "User: " + user.username) }}
{% else %}
    {{ card_factory.create_card("Login", create_login_form()) }}
{% endif %}
