<div class="row pt-3">
    <div class="col-12 col-md-3">
        <img class="img-fluid rounded" src="{{ static('images/home.jpg') }}" alt="{{ meta.application_name }} home page"/>
    </div>
    <div class="px-md-3 py-3 py-md-0 col-12 col-md-6 col-xl-7">
        <h1>{{ settings.application_title }}</h1>
        <p>{{ settings.welcome_text }}</p>
    </div>
    <div class="col-12 col-md-3 col-xl-2">
        {% include "includes/core/login.jinja2" %}
    </div>    
</div>
