{#####
#
#   Version:    1.0.0
#   Date:       2022-08-01
#   Author:     Yves Vindevogel
#
#####}

{% from "includes/core/login.jinja2" import login_form as login %}

{% set _ns_ = namespace(user=user, csrf_token=csrf_token) %}

{% set _image_ = {
    "src": static("images/home.jpg"),
    "alt": "homepage"
} %}

{% set _image_cell_ = basic_factory.get_image(_image_) %}

{% set _welcome_cell_ =
    basic_factory.get_title({"text": settings.application_title}) +
    basic_factory.get_text({"text": settings.welcome_text}) %}

{% set _row_ = {
    "spacing": "pt-3",
    "cells": [
        {"sizing": "col-12 col-md-3", "content": _image_cell_},
        {"sizing": "px-md-3 py-3 py-md-0 col-12 col-md-6 col-xl-7", "content": _welcome_cell_},
        {"sizing": "col-12 col-md-3 col-xl-2", "content": login(_ns_)}
    ],
} %}

{{ basic_factory.get_cell_row(_row_) }}
