{#####
#
#   Version:    1.0.0
#   Date:       2022-08-01
#   Author:     Yves Vindevogel
#
#####}

{% from "includes/core/login.jinja2" import login_form as login %}

{% set ns = namespace(user=user, csrf_token=csrf_token) %}

{% set image = {
    "src": static("images/home.jpg"),
    "alt": "homepage"
} %}

{% set image_cell = basic_factory.get_image(image) %}

{% set welcome_cell =
    basic_factory.get_title({"text": settings.application_title}) +
    basic_factory.get_text({"text": settings.welcome_text}) %}

{% set row = {
    "spacing": "pt-3",
    "cells": [
        {"sizing": "col-12 col-md-3", "content": image_cell},
        {"sizing": "px-md-3 py-3 py-md-0 col-12 col-md-6 col-xl-7", "content": welcome_cell},
        {"sizing": "col-12 col-md-3 col-xl-2", "content": login(ns)}
    ],
} %}

{{ basic_factory.get_cell_row(row) }}
