{% extends "base.jinja2" %}

{% block content %}
    <div id="content-wrapper" class="container-fluid">
        {% block page_title %}{% endblock %}
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}