{#####
#
#   Version:    1.0.0
#   Date:       2022-08-01
#   Author:     Yves Vindevogel
#
#####}

{% extends "base.jinja2" %}

{% block content %}
    <div id="content-wrapper" class="container-fluid">
        {% block home_page %}{% endblock %}
    </div>
{% endblock %}