{#####
#
#   Version:    1.0.0
#   Date:       2022-08-01
#   Author:     Yves Vindevogel
#
#####}

{% extends "base.jinja2" %}

{% block sidebar %}{% endblock %}

{% block content %}
    <div id="content-wrapper" class="container-fluid">
        <div id="top_right_toolbar">
            {% block toolbar %}{% endblock %}
        </div>

        <div id="content">
            <h1>{% block page_title %}{% endblock %}</h1>

            {% block datatable %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block datatable_scripting %}
    <script type="text/javascript">
        {% block client_side_config %}{% endblock %}
    </script>
{% endblock %}
