{% from "core/settings.jinja2" import sf_core %}

<!DOCTYPE html>
<html lang="en">
    {% include "includes/head.jinja2" %}

    <body class="{{ sf_core.layout.body.wrapper }}">
        {% include "includes/nav.jinja2" %}

        <div class="d-flex flex-row" id="page-wrapper">

            {% block sidebar %}{% endblock %}
            {% block content%}{% endblock%}
        </div>

        {% include "includes/footer.jinja2" %}
        {% include "includes/bootstrap_js.jinja2" %}

        <script src="{{ static('js/scripts.js') }}"></script>

        {% block datatable_scripting %}{% endblock %}
    </body>
</html>