{#####
#
#   Version:    1.0.0
#   Date:       2022-07-28
#   Author:     Yves Vindevogel
#
#####}

{% import "factories/basics.jinja2" as basic_factory %}
{% import "factories/cards.jinja2" as card_factory %}
{% import "factories/chats.jinja2" as chat_factory %}
{% import "factories/datatables.jinja2" as datatable_factory %}
{% import "factories/entry.jinja2" as entry_factory %}
{% import "factories/sidebars.jinja2" as sidebar_factory %}
{% import "factories/toolbars.jinja2" as toolbar_factory %}

<!DOCTYPE html>
<html lang="en">
    {% include "includes/head.jinja2" %}

    <body class="d-flex flex-column min-vh-100">
        {% include "includes/nav.jinja2" %}

        {% include "includes/messages.jinja2" %}

        <div class="d-flex flex-row" id="page-wrapper">
            {% block sidebar %}{% endblock %}
            {% block content%}{% endblock%}
        </div>

        {% include "includes/footer.jinja2" %}

        {% block datatable_scripting %}{% endblock %}

        <script src="{{ static('startbootstrap/scripts.js') }}"></script>
    </body>
</html>
