<!DOCTYPE html>
<html lang="en">
    {% include "includes/editor/head.jinja2" %}


    <body class="d-flex flex-column min-vh-100">
        {% include "includes/common/nav.jinja2" %}

        <div class="d-flex" id="wrapper">
            {% block sidebar %}{% endblock %}
            {% block content%}{% endblock%}
        </div>

        {% include "includes/common/footer.jinja2" %}
        {% include "includes/common/bootstrap_js.jinja2" %}

        <script src="{{ static('js/scripts.js') }}"></script>
    </body>
</html>